.about-container {
    padding-top: 54px;
}

.project-overview-container {
    display: flex;
    padding-top: 54px;
}

.about-us-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 20px;
}

.about-us-box {
    width: 400px;
    height: 800px;
    /* flex: 0 0 calc(33.33% - 20px); */
    background-color: #f0f0f0;
    /* padding: 20px; */
    text-align: center;
}

.about-us-box p {
    margin-left: 40px;
    margin-bottom: 40px;
    margin-right: 40px;

    text-align: left;
}

.about-us-box img {
    width: 400px;
    height: 400px;
}

/* H2 STYLE */

.content h2 {
    padding-bottom: 24px;
    padding-top: 24px;
    font-size: 36px;
    color: black;
}

.content h2 a {
    display: inline-block;
    color: black;
    transition: transform 0.3s ease;
}

.content h2 a:hover {
    transform: scale(1.1);
}

/* H3 STYLE */

.content h3 {
    font-size: 24px;
    padding-bottom: 16px;
    color: black;
}

/* INDEX STYLE */

.index {
    flex: 1;
    background-color: #f0f0f0;
    padding-top: 78px;
    padding-left: 34px;
    padding-right: 34px;
}

.index h1 {
    top: 132px;
    margin-bottom: 24px;
    position: sticky;
}

.index ul {
    list-style: none;
    position: sticky;
    top: 194px;
}

.index ul li {
    margin-bottom: 16px;
}

.index ul li a {
    font-size: 18px;
    font-weight: 500;
    color: black;
}

.index ul li a:hover {
    text-decoration: underline;
    text-decoration-skip-ink: none;
    text-underline-offset: 5px;
    text-decoration-thickness: 2px;
}

.content {
    flex: 4;
}

#project-background-objective {
    margin-top: 54px;
}


/* PARAGRAPH STYLE */

.content p {
    margin-bottom: 16px;
    font-size: 16px;
    color: black;

}