.about-container {
    padding-top: 54px;
}

.project-overview-container {
    display: flex;
    padding-top: 54px;
}

.about-us-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 20px;
}

.about-us-box {
    width: 350px;
    height: 800px;
    /* flex: 0 0 calc(33.33% - 20px); */
    background-color: #f0f0f0;
    /* padding: 20px; */
    text-align: center;
}

.about-us-box p {
    margin-left: 40px;
    margin-bottom: 40px;
    margin-right: 40px;

    text-align: left;
}

.about-us-box img {
    width: 350px;
    height: 350px;
}

/* H2 STYLE */

.project-overview-container h2 {
    font-size: 30px;
}

.po-content h1 {
    padding-bottom: 40px;
    padding-top: 24px;
    font-size: 42px;
    color: black;
}

.po-content h1 a {
    display: inline-block;
    color: black;
    transition: transform 0.3s ease;
}

.po-content h1 a:hover {
    transform: scale(1.1);
}

/* H3 STYLE */

.po-content h3 {
    font-size: 24px;
    padding-bottom: 16px;
    color: black;
}

.po-content h3 a {
    color: black;
}

.po-content h3 a:hover {
    text-decoration: underline;
    text-decoration-skip-ink: none;
    text-underline-offset: 5px;
    text-decoration-thickness: 2px;
}

/* INDEX STYLE */

.index {
    flex: 1;
    background-color: #f0f0f0;
    padding-top: 78px;
    padding-left: 4%;
    padding-right: 4%;
}

.index h2 {
    top: 132px;
    margin-bottom: 24px;
    position: sticky;
}

.index ul {
    list-style: none;
    position: sticky;
    top: 218px;
}

.index ul li {
    margin-bottom: 16px;
}

.index ul li a {
    font-size: 18px;
    font-weight: 500;
    color: black;
}

.index ul li a:hover {
    text-decoration: underline;
    text-decoration-skip-ink: none;
    text-underline-offset: 5px;
    text-decoration-thickness: 2px;
}

.po-content {
    flex: 4;
    font-weight: 300;
    padding-top: 50px;
    padding-left: 50px;
    padding-bottom: 50px;
    padding-right: 8%;
}

#project-background-objective {
    margin-top: 54px;
}


/* PARAGRAPH STYLE */

.po-content p {
    margin-bottom: 16px;
    font-size: 16px;
    color: black;

}

.p-img {
    float: left;
    font-size: 16px;
    width: 60%;
}

.wrap-img {
    width: 350px;
    box-sizing: border-box;
}

.img-container:hover .img-caption {
    opacity: 1;
}

.img-container {
    position: relative;
    float: right;
    padding-left: 16px;
    padding-top: 4px;
    padding-bottom: 4px;

}

.img-caption {
    position: absolute;
    bottom: 8px;
    left: 16px;
    width: 350px;
    height: 20%;
    color: white;
    font-weight: 400;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.hidden {
    display: none;
}

.lit-cited-list {
    list-style: decimal;
    padding-left: 20px;
}

.updates-container {
    display: flex;
    padding-top: 54px;
}

.updates-container h2 {
    font-size: 30px;
}

.updates-content {
    flex: 4;
    font-weight: 300;
    padding-top: 50px;
    padding-left: 50px;
    padding-bottom: 50px;
    padding-right: 8%;
}

.updates-content h1 {
    padding-bottom: 40px;
    padding-top: 24px;
    font-size: 42px;
    color: black;
}

.updates-content h1 a {
    display: inline-block;
    color: black;
    transition: transform 0.3s ease;
}

.updates-content h1 a:hover {
    transform: scale(1.1);
}

/* H3 STYLE */

.updates-content h3 {
    font-size: 24px;
    padding-bottom: 16px;
    color: black;
}

.updates-content h3 a {
    color: black;
}

.updates-content h3 a:hover {
    text-decoration: underline;
    text-decoration-skip-ink: none;
    text-underline-offset: 5px;
    text-decoration-thickness: 2px;
}

.updates-content p {
    margin-bottom: 16px;
    font-size: 16px;
    color: black;

}